<div class="info">
    <h1>
        Codeial / <%= title %>
    </h1>
        <% if(locals.user){%>
            <section id="feed-posts">
                <h4>Posts</h4>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" rows="4" cols="50">
                    </textarea>
                    <input type="submit" value="Post">
                </form>
            </section>
        <%}%>
    

    <div id="posts-list-container">
        <ul>
            <% for(post of Post){%>
                <li><%= post.content%>
                    <br>
                    <%= post.user.name%>
                <br>
                <div class="post-comments">
                    <%if(locals.user){%>
                        <form action="/comments/create"  method="POST">
                            <input type="text" name="content" placeholder="Try Post">
                            <input type="hidden" name="post" value="<%= post._id%>">
                            <input type="submit" value="Add Comment">
                        </form>
                    <%}%>
                </div>
            </li>
                <%}%>
        </ul>
    </div>
</div>